.cardWrapper {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}
.card_icon {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 45px;
  cursor: pointer;
  color: #e4163a;
  z-index: 40;
}
.card_icon_2 {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 60px;
  right: 10px;
  font-size: 45px;
  cursor: pointer;
  color: #ffff;
  z-index: 40;
}
.indexLoadingWrapper{
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.beforeLoad{
  height: 100%;
  width: clamp(250px, 100vw, 500px);
  object-fit: contain;
}

.card_icon:hover {
  transform: scale(1.1);
}

.card_icon_2:hover {
  transform: scale(1.1);
}
